@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
  src: url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");
}

@theme {
  --font-heading: "Bitcount Prop Single", system-ui;
  --font-text: Roboto, sans-serif;
}

body {
  @apply font-text;
  background-color: #000;
  color: #fff;
}

button {
  @apply cursor-pointer;
}

input {
  color: #000;
}

button:active {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 50ms;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
}

/* Define the keyframes for the spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Define the styles for the loading icon */
.loading-icon {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
